<div class="navbar navbar-expand-sm navbar-dark navbar-lewagon">
  <div class="container-fluid">
    <%= link_to boards_path, class: "nav-link" do %>
      <%= image_tag "boards.png", class: "nav-link-image" %>
    <% end %>
    <%= link_to new_board_path, class: "nav-link" do %>
      <%= image_tag "addboard.png", class: "nav-link-image" %>
    <% end %>
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "white_skull.png" %>
    <% end %>
    <%= link_to everyone_path, class: "nav-link" do %>
      <%= image_tag "addfriend.png", class: "nav-link-image"  %>
    <% end %>
    <%= link_to friendships_path, class: "nav-link" do %>
      <%= image_tag "friends.png", class: "nav-link-image" %>
    <% end %>
  </div>
</div>


