<div class="container-centered">
  <div class="bad-container">
    <h1>friends</h1>
    <% @friendships.each do |friendship| %>
      <%= link_to friendship_path(friendship), class: "link-friend" do %>
        <% if friendship.user == current_user  %>
          <p>
            <%= friendship.friend_user.username %>
            <%= image_tag "white_skull.png", class: "img-friendship-skull" if friendship.user_points > friendship.friend_points %>
          </p>
        <% else %>
          <p>
            <%= friendship.user.username %>
            <%= image_tag "white_skull.png", class: "img-friendship-skull" if friendship.user_points < friendship.friend_points %>
          </p>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
