<div class="container-centered">
  <div class="bad-container">
    <h1>Me vs <%= @friendship.user == current_user ? @friendship.friend_user.username : @friendship.user.username %> </h1>
    <div class="friendship-score-overall">
      <p class="friendship-score-user"><%= @friendship.user_points %></p>
      <p class="friendship-score-friend"><%= @friendship.friend_points %></p>
    </div>
    <% @boards.each do |board| %>
      <%= link_to board_path(board), class: "link-board" do %>
        <p>
          <%= board.name %>
          <%= image_tag "white_skull.png", class: "img-friendship-skull" if board.user_total < board.friend_user_total && current_user == board.friendship.user %>
          <%= image_tag "white_skull.png", class: "img-friendship-skull" if board.user_total > board.friend_user_total && current_user == board.friendship.friend_user %>
        </p>
      <% end %>
    <% end %>
    <br>
    <%= button_to "new board", new_board_path, params: {friendship_id: @friendship.id}, method: :get, class: "sign-up-btn" %>
  </div>
</div>
