<div class="bad-container">
  <div class="home-container">
    <% if current_user %>
      <h2>Welcome <%= @user.username %></h2>
      <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}%>
      <h3>just started</h3>

      <ul>
        <% @recent_boards.each do |board| %>
          <li><%= link_to board.name, board_path(board) %></li>
        <% end %>
      </ul>

      <h3>you're in the lead</h3>
      <ul>
      <% @winning_boards.each do |board| %>
      <li><%= link_to board.name, board_path(board) %></li>
      <% end %>
      </ul>

    <h3>you're losing bad</h3>
      <ul>
      <% @losing_boards.each do |board| %>
      <li><%= link_to board.name, board_path(board) %></li>
      <% end %>
      </ul>


    <% else %>
      <h1>Do you give too many fucks about winning?</h1>
      <p></p>
      <p>You've come to the right place.</p>
      <p>Keep track of your wins and loses and see which friendships survive the competition.</p>
      <h3>Add friends</h3>
      <p>And find out...</p>
      <h1>Are you a bad loser?</h1>
      <%= link_to "Begin", new_user_registration_path, class: "btn sign-up-btn" %>
    <% end %>
  </div>
</div>
