<div class="container-centered">
<div class="bad-container">
  <h1>Edit <%= @board.name %></h1>
  <%= simple_form_for @board do |f| %>
    <%= f.input :game, label: "what are you playing?", value: @board.game %>
    <%= f.input :name, label: "name the board", value: @board.name %>
    <%= f.button :submit, "update it", class: "sign-up-btn" %>
  <% end %>
</div>
</div>
