<div class="container-centered">
  <div class="bad-container">
    <div class="list-boards">
      <h1>boards</h1>
      <%= link_to edit_boards_path do  %>
        <i class="fa-solid fa-gears"></i>
      <% end %>
      <% @boards.each do |board| %>
        <%= link_to board_path(board), class: "link-board" do %>
          <p>
            <%= board.name %>
            <%= image_tag "white_skull.png", class: "img-friendship-skull" if board.user_total < board.friend_user_total && current_user == board.friendship.user %>
            <%= image_tag "white_skull.png", class: "img-friendship-skull" if board.user_total > board.friend_user_total && current_user == board.friendship.friend_user %>
          </p>
        <% end %>
      <% end %>
    </div>
    <%= link_to "new board", new_board_path, class: "sign-up-btn" %>
  </div>
</div>
