<div class="container-board">
  <div class="board-user">
    <div class="user-img-points">
      <%= cl_image_tag @board.friendship.user.profile_picture.key, height: 120, width: 120, crop: :fill, class: "img-board-user" %>
      <div class="text-board-points"><%= @board.user_total %></div>
    </div>
    <%= button_to points_path, params: {user: @board.friendship.user, board: @board}, class: "btn-add-point" do %>
      <%= image_tag "add.png", class: "btn-add-point"%>
    <% end %>
    <h1 class="text-board-name"><%= @board.name.upcase %></h1>
    <%= image_tag "skull.png", class: "img-board-skull" %>
    <h2 class="text-board-username">
      <%= @board.friendship.user.username %>
      <div class="text-vs">VS</div>
      <%= @board.friendship.friend_user.username %>
    </h2>
  </div>
  <div class="board-friend-user">
    <div class="user-img-points">
      <%= cl_image_tag @board.friendship.friend_user.profile_picture.key, height: 120, width: 120, crop: :fill, class: "img-board-user" %>
      <div class="text-board-points"><%= @board.friend_user_total %></div>
    </div>
    <%= button_to points_path, params: {user: @board.friendship.friend_user, board: @board}, class: "btn-add-point" do %>
      <%= image_tag "add.png", class: "btn-add-point" %>
    <% end %>
  </div>
</div>
